body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sticky-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    z-index: 100;
    padding: 10px;
    transition: all 0.3s ease;
}

.main-nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #333;
    color: white;
    z-index: 100;
    padding: 10px;
}

#nav-overlay {
    display: flex;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 101;
    overflow: hidden;
    opacity: 0;
}

#nav-overlay.show {
    opacity: 1;
}

.all-section {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}

@media (max-width: 768px) {
    .all-section {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .all-section {
        padding: 10px;
    }
}

#primary-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

#primary-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#primary-nav .nav-item {
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

#primary-nav .nav-item a {
    display: block;
    padding: 8px;
    color: #fff;
    text-decoration: none;
}

#primary-nav .nav-item:hover {
    background-color: #007a3d;
}

#primary-nav .nav-item.active {
    background-color: #ff4400; 
}

#show-content-btn {
    cursor: pointer;
    padding: 10px;
    background-color: #007acc;
    color: white;
}

#show-content-btn:hover {
    background-color: #007a3d;
}

#progress-bar {
    height: 5px;
    background-color: #007acc;
    position: absolute;
    top: calc(100%);
    left: 0;
    z-index: 99;
    width: 0;
    transition: width 0.3s ease;
}

#nav-overlay.show + #progress-bar {
    top: calc(250% + 10px); 
}

@media (max-width: 500px) {
    #primary-nav .nav-item {
        width: 100%; 
    }
}

@media (min-width: 501px){
    #primary-nav .nav-item {
        width: calc(25% - 10px); 
    }
}
